{% extends 'feeds/base.html' %}

{% block body %}
	<div class="container-fluid" style="margin-top:10vh">
		{% if user.userprofile.image %}
			<img class="img-responsive center-block" src="{{user.userprofile.image.url}}" style="max-height:240px;width:240px;">
		{% endif %}
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 well"  style="background-color:#ffffff; margin-top:40px">
			
				<h1>User: {{user}}</h1>
			<form method='post' enctype="multipart/form-data" style="overflow-wrap:break-word">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" class="btn btn-primary">Save</button>
			</form>
			</div>
		</div>
		</div>
	

{% endblock %}